# TODO replace systemctl since Alpine doesn't have it

# whenever a USB device is connected, call usb-mount service to mount it
KERNEL=="sd[a-z][0-9]" ACTION=="add" SUBSYSTEMS=="usb" RUN+="/bin/systemctl start usb-mount@%k.service"

# whenever a USB device is disconnected, call usb-mount service to unmount it
KERNEL=="sd[a-z][0-9]" ACTION=="remove" SUBSYSTEMS=="usb" RUN+="/bin/systemctl stop usb-mount@%k.service"
